@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --accent: #003b46;
    --standard: rgba(0, 0, 0, 0.3)
}

*{
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: 'Old Standard TT', serif;
    background-color: var(--accent);
    height:100vh;
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}


.todo{
    padding: 32px;
    background-color: #C4DFE6;
    width: 90vw;
    border-radius: 16px;
}

.todo_contend {
}
.todo_title {
}
.todo_new {
    --size: 50px;
    display: flex;
    margin: 16px 0 32px;
}
.todo_new input{
    margin-right: 16px;
    font-size: 18px;
    font-weight: 300;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--standard);
    border-radius: 5px;
    flex-grow: 1;

}
.todo_add, 
.todo__task-del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height: var(--size);
    font-size: 32px;
    font-weight: 200;
    background-color: #003b46;
    color: #C4DFE6;
    border: 1px solid var(--standard)
}
.todo_list {
    margin-top: 16px;
}
.todo_list > * :not(:last-child){
    margin-bottom: 10px;
}
.todo_task {
    cursor: default;
    --size: 30px;
    display: flex;
    min-height: var(--size);
    align-items: center;
}
.todo_task:hover .todo__task-del {
    display: block;
}
.todo_task_complete .todo_task-text {
    text-decoration: line-through;
    color: var(--standard);
}

.todo_checkbox {
    margin-right: 16px;
}
.todo_checkbox input{
    display: none;
}
.todo_checkbox input:checked + div{
    background-color: #003b46;
}
.todo_checkbox input:checked + div::after{
   display: block;
}

.todo_checkbox div{
    --size: 28px;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--accent);
    border-radius: 8px;
    position: relative;
    color: #C4DFE6;
}
.todo_checkbox div::after{
    content: '✓';
    text-align: center;
    display: none;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.todo_task-text {
    font-size: 20px;
}
.todo__task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    line-height: var(--size);
    font-size: 40px;
}